
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px;
}

header > .interface{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: #5c5c5c;
    display: inline-block;
    transition: 2s;
}

header a:hover{
    color: white;
    transform: scale(1.2);
}

.logo a{
    font-size: 24px;
    color: white;
}

.logo span{
    font-size: 24px;
    color: red;
}

.logo:hover{
    box-shadow: 0 0 8 red;
}

nav a{
    padding: 0 40px;
}

header .btn-contato button{
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    padding: 10px 40px ;
    transition: 1s;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0 0 8px red;
}

/* ESTILO DO MAIN */
section.topo-site{
    padding: 40px;
}

section.topo-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site h1{
    color: white;
    font-size: 38px;
    line-height: 40px;
}

.topo-site .txt-topo-site p{
    padding: 40px 0;
    color: white;
    font-size: 20px;
}

.topo-site h1 span{
    color: red;
}

.topo-site img{
    border-radius: 50%;
    box-shadow: 0 0 50px darkred;
}

.topo-site .btn-contato button{
    padding: 5 0px 0;
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    padding: 10px 40px ;
    transition: 1s;
    cursor: pointer;
}

.topo-site .btn-contato button:hover{
    box-shadow: 0 0 15px red;
}
